.khan__buy-link {
  display: block;
  margin-left: 48px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  transition: .3s;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: .65;
}
